@media (max-width: 768px) {
    body{
        font-size: 40px;
    }
    .header,.menu ul{
        flex-direction: column;
        align-items: center;
    }
    .menu{
        padding-top: 5rem;
    }
}
/* ajeitar tamanho dos elementos utilizando os dados fornecidos no figma */

/* adicionar extensao "responsive  viewer no chrome */