body{
    font-family: var(--font-global);
}
.header{
    display: flex;
    justify-content:space-between;
    margin: 20px;
}
/* logotipo */
.header.logotipo {
    width: 45px;
    height: 42px;
    display: flex;
    align-items: center;
}
.header.logotipo img{
    font-size: 45px;
}
.header.logotipo span{
    font-size: 20px;
    font-family: var(--font-global);
    font-weight: 700;
}

/* menu */
.header.menu ul{
    display: flex;
    gap: 30px;
    align-items: center;
}
.header.menu li a{
    padding-inline: 7px;
    padding-block: 11px;
    font-weight: 400;
}
.header.menu li a:hover{
    background-color: var(--background-color-hover);
    color: var(--color-hover);
    cursor: pointer;
}
.header.menu button{
    background-color: var(--background-color-hover);
    color: var(--color-hover);
    border-radius: 10px;
    border: none;
    padding: 10px 21px 11px 21px;
}

