@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');


:root{
    --font-global: "Public Sans", sans-serif;
    --background-color-hover: #5BC241;
    --color-hover: #FFFFFF;
}
/* falta importar a fonte public sans no google fontes */